
h4  {
    border-bottom: 1px solid var(--color-neutral-300);
    color: var(--color-neutral-800);
    padding-bottom: 1rem;
    font-weight: 600;
}
span {
    padding: 2px;
    border-radius: 4px;
    border: 1px solid var(--color-neutral-500);
    &:hover {
        color: var(--color-neutral-700) !important;
    }
    &#Todo {
        border-color: var(--color-fuchsia-800);
        color: var(--color-fuchsia-700);
        &:hover {
            background-color: var(--color-fuchsia-300);
        }
    }
    &#InProgress {
        border-color: var(--color-amber-500);
        color: var(--color-amber-600);
        &:hover {
            background-color: var(--color-amber-300);
        }
    }
    &#Complete {
        border-color: var(--color-green-500);
        color: var(--color-green-700);
        &:hover {
            background-color: var(--color-green-300);
        }
    }
}

@media screen and (max-width : 768px ) {
    span {
        padding: 1px;
    }
}