<div
  class="bg-gray-100 h-full w-full flex vs:max-md:pt-8 flex-col items-center text-center space-y-9"
>
  <h1 class="h-fit font-bold mt-24 text-5xl" id="app">Welcome to Todo''</h1>
  <p class="text-neutral-500 text-lg">
    "Keep your face to the sunshine and you cannot see the shadows,"
  </p>
  <div class="h-fit space-x-5">
    <span class="bt-btn bg-blue-600 text-neutral-50">Get Started</span>
    <a routerLink="/login">
      <span class="bt-btn bg-neutral-200 text-neutral-500">Login</span>
    </a>
  </div>
</div>
