.live {
    color: var(--prim-color);
    font-weight: bold;
}

li {
    cursor: pointer;
    list-style-type: none;
}

div#ToggleBtn span {
    display: inline-block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: red;
}

@media screen and (max-width : 768px ) {
    ul#navLinks {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        gap: 1rem;
        background-color: var(--color-white);
        li {
            width: fit-content;
            padding: 2px;
            &:hover {
                background-color: var(--color-blue-300);
            }
        }
    }
}