<div
  class="bg-gray-100 h-full w-full flex flex-col items-center justify-center text-center space-y-8"
>
  <div class="rounded-2xl bg-white shadow-md md:w-2/5 vs:max-md:w-9/12">
    <h2 class="text-xl my-10 font-bold">Login to Your Account</h2>
    <form [formGroup]="form" class="text-neutral-500 flex flex-col text-start space-y-2 px-10" (ngSubmit)="logIn()">
      <app-inputs type="text" id="email" [control]="form.controls.email"> Email : </app-inputs>
      <app-inputs type="password" id="password" [control]="form.controls.password">
        Password :
      </app-inputs>
      <button type="submit" class="bt-btn bg-blue-600 text-neutral-50 block w-1/3 mx-auto rounded-3xl my-6" [disabled]="!form.valid">
        Login
      </button>
    </form>
    <p class="my-5">Don't have an account? <a routerLink="/signup" class="underline text-blue-600">Sign up</a></p>
  </div>
</div>
