#dashboard #panel span {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    border-radius: 4px;
    gap: 4rem;
    margin-top: 1rem;
    &:hover {
        background-color: var(--color-indigo-600);
        color: var(--color-neutral-100);
    }
}

.live span {
    background-color: var(--color-indigo-600);
    color: var(--color-neutral-100);   
}

@media screen and (max-width: 768px) {
    #dashboard #panel span {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}