@import "tailwindcss";
@theme {
    --breakpoint-vs: 20rem;
}

:root {
    --prim-color : #2563ab;

}

body {
    font-family: "Segoe UI", Arial, sans-serif;
}

.bt-btn {
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}


.overlay::after {
    content: "";
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0 ,0.55);
}

form input {
    border: 1px solid var(--color-blue-600);
    padding: 0.3rem;
    border-radius: 4px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
}